body {
	margin: 0px;
	font-family: Calibri, Helvetica, sans-serif;
}

#social {
	align: middle;
	line-height: 42px;
	background-color: rgb(56, 159, 255);
	height: 42px;
	font-size: large;
	width: inherit;
}

.home-button {
	
	margin: 0px 10px;
	font-size: 120%;
	text-align: left;
}
.social-button {
	float:right;
	margin: 2px 5px;
	height: 32px;
	width: auto;
}

.header-link {
	margin: 5px 0px;
	float: left;
	width: 50%;
	text-align: center;
}

#header {
	margin: 0px 15%;
}

#header:after {
	content: "";
	display: table;
	clear: both;
}

#home-banner {
}

.header-image {
	z-index: -1;
	max-width: 6016px;
	min-height: 400px;
	min-width: 1066px;
	width: 100%;
	height: auto;
}

.title {
	font-size: 300%;
	height: inherit;
	width: 100%;
	text-align: center;
	margin-top: 0px;
	position: absolute;
	top: 100px;
}

#main-content {
	margin: 8px;
}

#footer {
	width: 100%;
	text-align: center;
}